
<ul class="typesPage">
  <li class="typesPage-type">
    <p class="typesPage-text">You Can Choose Your Type:-</p>
  </li>
  <li class="typesPage-type" *ngFor="let item of gameTypes">
    <button class="typesPage-typeBtn" (click)="goToGame(item.id)" class="{{item.type}}">{{item.type}}</button>
  </li>
</ul>
  <!-- <ul>
    <li *ngFor="let item of typesInfo">
      <strong>Fb</strong>=> <span>{{item.fb}}</span><br>
      <strong>Tw</strong>=> <span>{{item.tw}}</span><br>
    </li>
</ul> -->
<!-- <strong>Password</strong>=> <span>{{item.password}}</span> -->
<!-- <button (click)="updateData(item.id)">Update</button> -->