* {
    padding: 0;
    margin: 0;
  }
  
  body {
    background:#0B2239;
    color: #EEE;
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    // min-height: -webkit-fill-available;
  }